<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pitt.eventhander_mast">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
   <!--     <activity android:name=".FullScreen">&lt;!&ndash;网易练习2 第一大题&ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
-->

  <!--      <activity android:name=".PixSuitActivity">&lt;!&ndash;网易练习2 第一大题&ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
-->


       <!-- <activity android:name=".TestPwdActivity">&lt;!&ndash;网易考试1 第一大题&ndash;&gt;
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>-->

     <!--   <activity android:name=".TestImgMovActivity">&lt;!&ndash;网易考试1 第2大题&ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->


        <activity android:name=".AnimationActivity"><!--网易1.4.1练习，手写动画框架,完成-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>